body{
	text-align:center;
}

#pagebody{
	width:920px;
		height:1600px;
		margin:0 auto;
		padding:10px;
		border-radius: 5px 5px 5px 5px;
		border:0px solid green;
		background-color: #FFFAF0;
}

header{
	width:880px;
	height:460px;
	margin:10px;
	padding:5px;
	border:2px solid pink;
	background-color: #F08080;
}


.topnav{
	width:99%;
	height:9%;
	border:2px solid pink;
	background-color: #8B008B;
}

.topnavde{
	display: inline-block;
	width:95px;
	height:18px;
	margin:5px;
	padding:5px;
	border:2px solid pink;
	background-color: lightcyan;
}

.topnavde a:hover{
	width:90px;
	height: 22px;
	background-color:lightpink;
}

p{
	text-align: left;
}

.container{
	width:880px;
	height:600px;
	margin:10px;
	padding:5px;
	border:2px solid pink;
	background-color:#F08080;
	}

aside{
	width:200px;
	height:460px;
	margin:10px;
	padding:10px;
	border:2px solid pink;
	background-color: #CFC;
	float:left;
}

A{text-decoration:none;}



article{
	width:580px;
	height:460px;
	margin:10px;
	padding:10px;
	border:2px solid pink;
	background-color: #F08080;
	float:right;
}

.readmore{
	display: block;
}


footer{
	position: absolute;
	width:890px;
	height:50px;
	margin:10px;
	border:2px solid pink;
	background-color: #F08080;;
	clear: both;
	
	}


#submenu{
	width:200px;
	height:390px;
	margin:10px;
	padding:10px;
	border:2px solid pink;
	float:left;
	background-color:lightgreen;	
}

A{text-decoration:none;}

#content{
	width:580px;
	height:390px;
	margin:10px;
	padding:10px;
	border:2px solid pink;
	float:right;
	background-color:pink;	
}